:root {
  --primary: #58a6ff;
  --secondary: #161b22;
  --background: #0d1117;
  --text: #c9d1d9;
  --text-muted: #8b949e;
  --border: #30363d;
  --success: #238636;
  --danger: #da3633;
  --outline-border: #30363d;
  --white: #ffffff;
  --purple: #8a3ffc;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: var(--background);
  color: var(--text);
}
